
.App-header {
  background-color: #101827;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
}


/* grid css */

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 5rem;
  margin-top: 2rem;
  justify-items: center;
  align-items: center;
  
}
.rueContainerModal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  margin-top: 15px;

}
.item{
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;

}



/* fonts */

@font-face {
  font-family: "product";
  src: url("/fonts/Product Sans Bold.ttf") format("truetype");
  src: url("/fonts/product_sans_bold-webfont.woff") format("woff");
  src: url("/fonts/product_sans_bold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "visage";
  src: url("/fonts/Visage Bold.otf") format("opentype");
  src: url("/fonts/Visage Bold.woff2") format("woff");
}

@font-face {
  font-family: "cleon";
  src: url("/fonts/Cleon.otf") format("opentype");
  src: url("/fonts/cleon-webfont.woff") format("woff");
  src: url("/fonts/cleon-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "vaulto";
  src: url("/fonts/Vaulto-ExtraBold.otf") format("opentype");
  src: url("/fonts/Vaulto-ExtraBold.woff2") format("woff2");
}

h1{
  font-family: "vaulto";
}

h2{
  font-family: "visage";
  letter-spacing: 1rem;
  
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
}

#gradient-1 {
  background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.gradient-1 {
  background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

#gradient-2{
  background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

}

.styled-text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
}

.button-text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
}

.josefin {
  font-family: 'Josefin Sans', sans-serif;
}

.bg-color-1{
  background-color: #152034;
}
.visage{
  font-family: "visage";
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}